
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

p {
    text-align: center;
    position:relative;
    top: 7rem;
    right: 4rem;
    font-size: 40px;
}

#tooltip {
    height: auto;
    width: auto;
    padding: .5rem;
    border-radius: 2px;
}

.bar {
    fill: #0051ff;
}

.bar:hover {
    fill: #00eeff;
}
